@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Solway:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Solway", serif;
}

header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 1000;
  width: 100%;
}
.top_header {
  width: 100%;
  height: 50px;
  background-color: white;
  color: rgb(3, 3, 3);
  display: flex;
  justify-content: end;
  padding: 8px 5%;
  font-size: 14px;
  align-items: center;
  gap: 30px;
}

.contact_info li {
  margin-right: 15px;
  font-size: 17px;
}

.header_links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  padding: 0 80px;
}
.navbar {
  width: 100%;
  background:#8b2a04;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-top: -20%;
}

.logo h1 {
  color: white;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  padding: 0 80px;
}

.nav_links a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.sell_btn {
  background: rgb(236, 236, 113);
  border: none;
  padding: 8px 18px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  
}
.sell_btn li{
  color: #8b2a04;
}
#menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #cfc6c2;
}
.topic {
  text-align: center;
  color: #8c4a2f;
  margin-top: 15%;
}
.first_container {
  width: 90%;
  max-height: auto;
  background-color: #f8f6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: auto;
  gap: 10px;
  padding-right: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.project_container {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center
}
.project_card {
  position: absolute;
  width: 450px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(10px);
}
.project_card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.card-content {
  padding: 15px;
  text-align: center;
}
.card1 {
  animation: showCard 9s infinite 0s;
}
.card2 {
  animation: showCard 9s infinite 3s;
}
.card3 {
  animation: showCard 9s infinite 6s;
}

@keyframes showCard {
  0%,
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  25%,
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  80%,
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}
.price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.location {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}
.location i {
  margin-right: 10px;
  color: #d4c3c3;
  font-size: 16px;
}
.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 18px 0;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #777;
}
.bottom-section i {
  color: #d4c3c3;
  font-size: 16px;
}
/* form */
.FormContainer {
  width: 50%;
  background-color: #d4b79a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  position: relative;
  border-radius: 30px;
  padding: 10px;
}
#form h2 {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}
#form {
  padding: 20px 40px;
  width: 100%;
}
.FormContainer input,
select {
  padding: 10px;
  margin: 10px 0;
  border: none;
  font-size: 19px;
}
.FormContainer input,
select:hover {
  outline: none;
}
.inline-inputs {
  display: flex;
  gap: 10px;
}
.inline-inputs input {
  width: 80%;
  color: gray;
}
.email {
  width: 50%;
  color: gray;
}
.dropdown-container {
  display: flex;
  position: relative;
}
.dropdown-container select,
.dropdown-container input {
  width: 100%;
  cursor: pointer;
  color: #777;
  margin-bottom: 30px;
}
.dropdown-container select:hover {
  outline: none;
}
.dropdown-list {
  display: none;
  position: absolute;
  background: white;
  width: 80%;
  top: 60%;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.dropdown-list input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.city-group {
  margin-bottom: 10px;
}

.city-group span {
  color: rgb(120, 120, 211);
  cursor: pointer;
  margin-right: 10px;
}
.city-group span:hover {
  text-decoration: underline;
}
.radio-group {
  display: flex;
  gap: 10px;
}
.radio-group button {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
  color: #777;
}
.radio-group button:hover {
  background-color: rgb(117, 99, 99);
  color: white;
}
.para {
  font-size: 19px;
  margin-bottom: 20px;
}
.radio-group
{
  margin-bottom: 20px;
}
.submit-btn {
  width: 30%;
  background-color: #8c4a2f;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 21px;
}
/* container2 */
.post_property {
  background-color: #f9f8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}
.container h2 {
  margin-bottom: 15px;
}
.section {
  margin-bottom: 20px;
}
label {
  font-weight: 400;
  color: rgb(97, 79, 79);
  display: block;
  margin-bottom: 10px;
  font-size: 19px;
}
.option-btn,
.unit-btn,
.size-btn,
.details-btn,
.submit-btn {
  cursor: pointer;
  padding: 8px 17px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #eee;
  margin: 5px;
  font-size: 19px;
  color: gray;
}
.details-btn {
  color: green;
}
.submit-btn {
  background: brown;
  color: white;
  margin-top: 10px;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
}
.input-group {
  display: flex;
  gap: 10px;
}
.input-group input {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #eee;
  font-size: 15px;
  padding: 8px 12px;
  color: gray;
  margin-top: 10px;
}
.full-width {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #eee;
  font-size: 15px;
  padding: 8px 12px;
  color: gray;
  margin-top: 10px;
  width: 100%;
}
.modal h3 {
  margin-top: 20px;
}
.unit-btn {
  font-size: 15px;
  margin-top: 20px;
}
.size-options .size-btn {
  font-size: 15px;
  padding: 8px 20px;
}
.size-options .size-btn span {
  color: green;
}
.close {
  cursor: pointer;
  color: gray;
  margin-left: 90%;
}
.submitbutton {
  font-size: 19px;
  margin-top: 10px;
}
.Ad-section {
  background-color: #f5f1d5;
  padding: 20px;
  display: block;
  text-align: end;
}

.click-btn {
  background-color: #8c4a2f;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 20px;
}
/* footer */
.footer {
  width: 100%;
  bottom: 0;
  margin-top: auto;
  background: #8b6f5a;
  color: #f5e36a;
  padding: 40px 5%;
  z-index: 10;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.logo_name {
  font-size: 27px;
  color: whitesmoke;
}
.footer-section {
  flex: 1;
  width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #f5e36a;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.footer-section ul li a:hover {
  color: #f5e36a;
}

.logo-section {
  text-align: left;
}

.footer_logo {
  width: 70px;
  height: 70px;
}

.follow-text {
  font-size: 21px;
  margin-top: 30px;
  margin-left: 40px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #f5e36a;
}


/* Responsive */
@media (min-width: 320px) and (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
    width: 100%;
  }
  .top_header {
    width: 100%;
    height: 80px;
    background-color: white;
    color: rgb(3, 3, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 8%;
    align-items: center;
    gap: 2px;
}
 .header_links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0 10px;
    font-size: 9px;
  }
.navbar {
    width: 100%;
    display: flex;
    padding: 15px 5%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
.logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }
.nav_links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: #8b2a04;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .nav_links.active {
    display: flex;
  }

  #menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #ddd8d6;
    padding: 10px;
  }
 
  .topic {
    text-align: center;
    color: #8c4a2f;
    margin-top: 70%;
  }
  .first_container {
    width: 100%;
    height:auto;
    background-color: #f8f6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }
  .project_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
    min-height: 400px;
    margin-left: 20px;
  }
  .project_card {
    width: 100%;
    max-width: 400px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
  }

  .price {
    font-size: 11px;
    font-weight: bold;
    color: #000;
  }
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
  .location i {
    margin-right: 10px;
    color: #d4c3c3;
    font-size: 11px;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    margin: 18px 0;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ddd;
    font-size: 11px;
    color: #777;
  }
  .bottom-section i {
    color: #d4c3c3;
    font-size: 11px;
  }
  /* FORM */
  .FormContainer {
    width: 100%;
    background-color: #d4b79a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: 25px;
  }
  #form h2 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
  }
  #form {
    padding: 15px;
    width: 100%;
  }
  .FormContainer input,
  .FormContainer select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
  .inline-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .inline-inputs input {
    width: 100%;
  }
  .email {
    width: 100%;
  }
  .dropdown-container {
    flex-direction: column;
  }

  .dropdown-container select,
  .dropdown-container input {
    width: 100%;
    margin-bottom: 20px;
  }
  .dropdown-list {
    width: 90%;
    top: 100%;
    left: 0;
  }
  .city-group {
    margin-bottom: 8px;
  }

  .city-group span {
    font-size: 14px;
  }
  .radio-group {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .radio-group button {
    font-size: 16px;
    padding: 8px 12px;
  }
  .para {
    font-size: 16px;
    text-align: center;
  }
  .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
  }
  .Ad-section {
    background-color: #f5f1d5;
    padding: 20px;
    display: block;
    text-align: end;
  }
  
  .click-btn {
    background-color: #8b2a04;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 20px;
  }
  .footer {
    text-align: center;
    z-index: 10;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo-section {
    text-align: center;
  }

  .footer_logo {
    width: 60px;
  }

  .follow-text {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 0;
  }

  .social-icons {
    justify-content: center;
    gap: 10px;
  }

  .footer-section ul li {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top_header {
    width: 100%;
    height: 50px;
    background-color: white;
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: end;
    padding: 8px 5%;
    font-size: 14px;
    align-items: center;
    gap: 30px;
  }
  
  .contact_info li {
    margin-right: 15px;
    font-size: 17px;
  }
 
  .header_links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 80px;
  }
  .navbar {
    width: 100%;
    background:#8b2a04;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 60px;
    margin-right: 10px;
    margin-top: -20%;
  }
  
  .logo h1 {
    color: white;
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 80px;
  }
  
  .nav_links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  
  .sell_btn {
    background: rgb(236, 236, 113);
    border: none;
    padding: 8px 9px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    
  }
  .sell_btn li{
    color: #8b2a04;
  }

  .first_container {
    width: 100%;
    background-color: #f8f6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: auto;
    gap: 10px;
    padding-right: 50px;
  }
  .project_container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
  }
  .project_card {
    position: absolute;
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(50px);
  }
  .project_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-content {
    padding: 15px;
    text-align: center;
  }
  .card1 {
    animation: showCard 9s infinite 0s;
  }
  .card2 {
    animation: showCard 9s infinite 3s;
  }
  .card3 {
    animation: showCard 9s infinite 6s;
  }

  @keyframes showCard {
    0%,
    20% {
      opacity: 0;
      transform: translateY(50px);
    }
    25%,
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    80%,
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
  }
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  .location {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
  .location i {
    margin-right: 10px;
    color: #d4c3c3;
    font-size: 16px;
  }
  .details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 18px 0;
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #777;
  }
  .bottom-section i {
    color: #d4c3c3;
    font-size: 16px;
  }
  /* form */
  .FormContainer {
    width: 50%;
    background-color: #d4b79a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    position: relative;
    border-radius: 30px;
    padding: 10px;
  }
  #form h2 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  #form {
    padding: 20px 40px;
    width: 100%;
  }
  .FormContainer input,
  select {
    padding: 10px;
    margin: 10px 0;
    border: none;
    font-size: 11px;
  }
  .FormContainer input,
  select:hover {
    outline: none;
  }
  .inline-inputs {
    display: flex;
    gap: 10px;
  }
  .inline-inputs input {
    width: 100%;
  }
  .email {
    width: 50%;
  }

  .dropdown-container {
    display: flex;
    position: relative;
  }

  .dropdown-container select,
  .dropdown-container input {
    width: 100%;
    cursor: pointer;
    color: #777;
    margin-bottom: 30px;
  }
  .dropdown-container select:hover {
    outline: none;
  }
  .dropdown-list {
    display: none;
    position: absolute;
    background: white;
    width: 80%;
    top: 60%;
    left: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
  }

  .dropdown-list input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .city-group {
    margin-bottom: 10px;
    font-size: 11px;
  }

  .city-group span {
    color: rgb(120, 120, 211);
    cursor: pointer;
    margin-right: 10px;
  }
  .city-group span:hover {
    text-decoration: underline;
  }
  .radio-group {
    display: flex;
    gap: 10px;
  }
  .radio-group button {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    color: #777;
  }
  .radio-group button:hover {
    background-color: rgb(117, 99, 99);
    color: white;
  }
  .para {
    font-size: 19px;
    margin-bottom: 20px;
  }
  .submit-btn {
    width: 50%;
    background-color: #8c4a2f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 17px;
  }
  /* /footer */
  .footer {
    width: 100%;
    bottom: 0;
    position: relative;
    background: #8b6f5a;
    color: #f5e36a;
    padding: 40px 5%;
    z-index: 10;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
  .logo_name {
    font-size: 19px;
    color: whitesmoke;
  }
  .footer-section {
    flex: 1;
    width: 200px;
    margin-bottom: 20px;
  }

  .footer-section h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f5e36a;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }

  .footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
  }

  .footer-section ul li a:hover {
    color: #f5e36a;
  }

  .logo-section {
    text-align: left;
  }

  .footer_logo {
    width: 50px;
  }

  .follow-text {
    font-size: 17px;
    margin-top: 30px;
    margin-left: 40px;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .social-icons a {
    color: white;
    font-size: 17px;
    transition: 0.3s;
  }
}
