@import url("https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Solway", serif;
}
.course {
  margin: 18% auto 0 auto;
}
.course h1 {
  text-align: center;
}
.course_list h2 {
  padding-left: 10%;
  margin-top: 30px;
}
.course_list ul {
  padding: 30px;
  width: 70%;
  margin: auto;
}
.course_list ul li {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.7;
  word-spacing: 1.8px;
}
.course_btn {
  font-family: serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}
.btn {
  background-color: #6909b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 27px;
}
.btn:hover {
  background-color: #6909b3;
}

/* ---------------------Media Query */
/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .course {
        margin: 60% auto 0 auto;
      }
    .course h1 {
    text-align: center;
    font-size: 17px;
  }
  .course_list h2 {
    padding-left: 10%;
    margin-top: 30px;
    font-size: 17px;
  }
  .course_list ul {
    padding: 30px;
    width: 100%;
    margin: auto;
  }
  .course_list ul li {
    font-size: 17px;
    font-weight: 200;
    line-height: 1.7;
    word-spacing: 1.8px;
    padding: 0 10px;
  }
  .course_btn {
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
  }
  .btn {
    background-color: #6909b3;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 17px;
  }
  .btn:hover {
    background-color: #6909b3;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .course {
        margin: 25% auto 0 auto;
      }
    .course h1 {
    text-align: center;
  }
  .course_list h2 {
    padding-left: 10%;
    margin-top: 30px;
  }
  .course_list ul {
    padding: 30px;
    width: 80%;
    margin: auto;
  }
  .course_list ul li {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    word-spacing: 1.8px;
  }
  .course_btn {
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
  }
  .btn {
    background-color: #6909b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 17px;
  }
  .btn:hover {
    background-color: #6909b3;
  }
}
